<section id="message" class="odd">
  <div class="container">
    <h2>Message from the Team</h2>
    <p>
      After nailing our colours to the mast of people rather than
      projects in 2009, we succeeded in delivering a fellowship
      programme that does much more than award funding to people for
      doing good in the world. It serves as an infrastructure
      backbone and support network for those who are taking risks to
      make the world a better place, and we are very proud of it.
    </p>
    <p>
      Learning from the Free and Open Source Software movement
      however, we can always iterate and make ourselves better. In
      2013 we looked for more data driven insights into our funding
      and application processes. By the end of the year, we took
      stock of where we were, and looked to assess if that was
      actually what we wanted.
    </p>
    <p>
      In 2014, we will be conducting a number of funding
      experiments, testing assumptions about what really makes ideas
      fly and how can Fellows best achieve their objectives for
      sustained social change. What support adds the most value Is
      there one answer or is it unique every time?
    </p>
    <p>
      We are still at our core working towards an open ecosystem, a
      place where ideas and knowledge are shared and accessed
      freely, without fear of judgement. There is a long road to
      tread.
    </p>
  </div>
</section>
